@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@theme {
  --color-background: var(--background);
  --color-emphasis: var(--color-emphasis);
  --color-emphasis-secondary: var(--color-emphasis-secondary);
}

:root {
  --background: #10100e;
  --color-emphasis: #f9f9e9;
  --color-emphasis-secondary: #5ec2af;
}
