---
// src/pages/projects.astro
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import type { ProjectsGitHubType } from '@/lib/types';
import RepoCard from '@/components/RepoCard/RepoCard.astro';

const projects = (await getCollection('projects')) as ProjectsGitHubType[];

const filterProjects = ['.github', 'libreblog', 'scripts', 'initial-Challenges', 'web'];
---

<Layout
	title="Projects | LibreCourseUY"
	description="Explore all projects from LibreCourseUY."
>
	<main class="max-w-4xl mx-auto px-4 py-12 space-y-6">
		<h1 class="text-4xl font-bold">Projects</h1>
		<p class="text-neutral-400">Repositories from the LibreCourseUY GitHub organization.</p>

		<div class='grid grid-cols-3 gap-12'>
			{
				projects
					.filter(({ data }) => !filterProjects.includes(data.name))
					.map(({ data }) => <RepoCard {...data} />)
			}
		</div>
	</main>
</Layout>
