.anchor:hover::after {
	opacity: .8;
}
.disabled.anchor:hover::after {
	opacity: 1;
}
.anchor::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--color-emphasis-secondary);
}